/* Global Styling */
:root{
    --primary-font: 'Cormorant Garamond', 'serif';
    --secondary-font: 'Work Sans', 'sans-serif';
    --sapphire: #0F52BA;
    --emerald: #05C878;
    --bg-color: #0E0E0E;
    --text-color: #F8F8FF;
}

*{
    margin: 0;
    box-sizing: border-box;
    /* background-color: #0e0e0e; */
    color: var(--text-color);
    overflow-x: hidden;
    /* white-space: nowrap; */
}

.app{
    background-color: var(--bg-color);
}

::-webkit-scrollbar{
    width: 0;
}

.container{
    width: 80%;
    margin: auto;
}

.artistic-text{
    font-family: var(--primary-font);
    font-size: 9rem;
}

h1{
    font-family: var(--primary-font);
    font-size: 4rem;
    font-weight: 300;
}

h2{
    font-family: var(--primary-font);
    font-size: 3rem;
    font-weight: 300;
}

h3{
    font-family: var(--primary-font);
    font-size: 2.25rem;
    font-weight: 300;
}

h4{
    font-family: var(--primary-font);
    font-size: 1.75rem;
    font-weight: 300;
}

h5{
    font-family: var(--secondary-font);
    font-weight: 300;
    font-size: 1.125rem;
    margin-bottom: 5px;
}

a{
    text-decoration: none;
    cursor: pointer;
}

li{
    list-style: none;
    background: none;
}

.emphasize{
    font-family: var(--primary-font);
    font-size: 4rem;
    font-weight: 600;
    font-style: italic;
    color: var(--sapphire);
}

.nav-link{
    font-family: var(--secondary-font);
    font-size: 1.25rem;
    font-weight: 400;
}

.btn{
    font-family: var(--secondary-font);
    font-size: 1.125rem;
}

.body-lg{
    font-family: var(--secondary-font);
    font-size: 1.25rem;
    font-weight: 300;
}

.body-reg{
    font-family: var(--secondary-font);
    font-size: 1rem;
}

.body-sm{
    font-family: var(--secondary-font);
    font-size: 0.875rem;
    font-weight: 100;
}

.consult-btn{
    display: flex;
    align-items: center;
}

.btn-droplet{
    padding-right: 5px;
    z-index: 0;
    width: 41px;
    height: 24px;
    /* background: none; */
}

.consult-btn h4{
    font-family: var(--secondary-font);
    font-size: 1.25rem;
    font-weight: 400;
}

/* Header Component */
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 100%;
    margin: auto;
    padding: 50px 0;
}

.nav-logo-img{
    width: 35%;
}
  
.nav__menu {
    display: flex;
    align-items: center;
    gap: 2rem;
    white-space: nowrap;
}
  
.nav__toggler {
    display: none;
}
  
.nav__toggler div {
    width: 2.5rem;
    height: 0.2rem;
    margin: 0.4rem;
    background: var(--text-color);
    transition: 0.3s ease-in;
}


/* Footer Component */
.footer{
    height: 100%;
    width: 80%;
    margin: auto;
}

.top-footer, .middle-footer, .bottom-footer{
    display: flex;
}

.top-footer{
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.top-footer .right-column{
    display: flex;
    align-items: center;
}

.top-footer .right-column h4{
    font-family: var(--secondary-font);
    font-weight: 400;
}

.middle-footer{
    justify-content: space-between;
    margin-bottom: 50px;
}

.middle-footer img.footer-logo{
    width: 80%;
}

.middle-footer .left-column .footer-about{
    width: 280px;
    line-height: 20px;
}

.middle-footer .right-column{
    display: flex;
}

.middle-footer .right-column .body-reg{
    margin-bottom: 10px;
}

.middle-footer .right-column .body-sm{
    margin-bottom: 5px;
}

.services-column{
    padding-left: 100px;
}

.footer-services{
    display: flex;
    flex-direction: column;
}

.bottom-footer{
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.social-links a{
    padding-right: 25px;
}

.legal{
    display: flex;
}

.legal a{
    padding-left: 25px;
}

/* Home Component */
.hero-section{
    width: 100%;
    height: 100vh;
    display: flex;
}

.hero-right{
    height: 100%;
}

.hero-left{
    width: 60%;
    height: 100%;
    padding: 200px 0;
}

.hero-headline{
    margin-bottom: 25px;
}

.hero-body{
    width: 100%x;
    margin-bottom: 25px;
}

.scroll-indicator{
    width: 15px;
    padding-top: 20%;
    padding-bottom: 10px;
	position: relative;
	opacity: 0.5;
}

.scroll-indicator::before,
.scroll-indicator::after{
    content: "";
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.scroll-indicator::before{
    width: 12px;
    height: 12px;
    border-radius: 10px;
    border: 1px solid #05C878;
    animation: dot 3s infinite ease-in-out;
}

.scroll-indicator::after{
    width: 7px;
    height: 7px;
    border-right: 1px solid #05C878;
    border-bottom: 1px solid #05C878;
    transform: rotate(45deg);
    animation: arrow 3s infinite ease-in-out;
    animation-delay: 0.75s;
    opacity: 0.25;
}

.scroll-indicator > div{
    display: block;
}

.scroll-indicator > div::before,
.scroll-indicator > div::after{
    content: "";
    display: block;
    margin: 5px auto;
    border-radius: 10px;
    border: 1px solid #05C878;
    animation: dot 3s infinite ease-in-out;
}

.scroll-indicator > div::before{
    width: 8px;
    height: 8px;
    animation-delay: 0.25s;
}

.scroll-indicator > div::after{
    width: 6px;
    height: 6px;
    animation-delay: 0.5s;
}

@keyframes dot {
	0% {
		transform: scale(0.75);
		opacity: 0.25;
	}
	25% {
		transform: scale(1);
		opacity: 1;
	}
	100% {
		transform: scale(0.75);
		opacity: 0.25;
	}
}

@keyframes arrow {
	0% {
		transform: scale(0.75) rotate(45deg);
		opacity: 0.25;
	}
	25% {
		transform: scale(1) rotate(45deg);
		opacity: 1;
	}
	100% {
		transform: scale(0.75) rotate(45deg);
		opacity: 0.25;
	}
}

.the-brand-blurb{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 150px;
}

.the-brand-left{
    width: 50%;
}

.the-brand-left-text{
    width: 80%;
}

.the-brand-right{
    width: 50%;
    margin-bottom: 25px;
}

.the-brand-right-text{
    float: right;
    width: 70%;
}

.image-container{
    width: 100%;
    height: 450px;
    display: flex;
    gap: 20px;
}

.image1{
    width: 60%;
    background-image: url(./Images/image1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.image2{
    width: 40%;
    float: right;
    background-image: url(./Images/image2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.random-blurb{
    width: 980px;
    margin: auto;
    padding: 150px 0;
}

.industries-section{
    width: 100%;
    margin: auto;
}

.industries-section-top{
    width: 80%;
    margin: auto;
}

.industry-grid{
    width: 80%;
    margin: 100px auto 0 auto;
}

.industry-card{
    width: 100%;
    height: 450px ;
    overflow-y: hidden;
    margin: 10px;
    position: relative;
}

.industry-card .food-bev-img{
    height: 100%;
    width: 100%;
    background-image: url(./Images/foodbev.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.industry-card .non-profit-img{
    height: 100%;
    width: 100%;
    background-image: url(./Images/nonprofit.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}

.industry-card .cannabis-img{
    height: 100%;
    width: 100%;
    background-image: url(./Images/cannabis.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.industry-card .tech-img{
    height: 100%;
    width: 100%;
    background-image: url(./Images/technology.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.grid-left,
.grid-right{
    display: flex;
}

.industry-title{
    font-size: 2rem;
}

.industry-description{
    font-size: 1.25rem;
}

.card-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(14, 14, 14, 0.6);
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
    overflow: hidden;
}

.card-overlay p{
    background: none;
    padding: 5px 25px;
    overflow: hidden;
}

.card-overlay .industry-description{
    width: 80%;
    overflow: hidden;
}

.blur{
    backdrop-filter: blur(3px);
    overflow: hidden;
}

.card-overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
    overflow: hidden;
}

.card-overlay:hover {
    opacity: 1;
    overflow: hidden;
}

.card-overlay:hover{
    transform: translateY(0);
    overflow: hidden;
}

.card-overlay p:hover{
    opacity: 1;
    overflow: hidden;
}

.what-we-do{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.what-we-do-left{
    width: 50%;
}

.what-we-do-left-text{
    width: 80%;
}

.what-we-do-right{
    width: 50%;
    margin-bottom: 25px;
}

.what-we-do-right-text{
    float: right;
    width: 70%;
}

.services-tabs{
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

/* Tabs Components */
.home-tabs{
    padding-bottom: 200px;
}

.home-tabs-nav{
    padding-left: 0;
    padding-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
}

.home-tabs-nav li{
    font-family: var(--secondary-font);
    font-size: 2rem;
    font-weight: 300;
    padding: 0 40px 0 0;
    cursor: pointer;
    white-space: nowrap;
}

.home-tabs-nav li h4:hover,
.home-tabs-nav .active{
    color: var(--sapphire);
    font-weight: 500;
}

.tab-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.tab-left{
    width: 60%;
}

.tab-left .headline{
    margin-bottom: 15px;
}

.tab-left .body-lg{
    width: 100%;
    margin-bottom: 25px;
}

.tab-right{
    width: 100%;
    position: relative;
}

.tab-cards{
    float: right;
}

.card{
    width: 400px;
    display: flex;
    padding: 25px;
    margin-bottom: 25px;
    align-items: center;
    box-shadow: 
    -2px 0px 4px 0 rgba(0, 0, 0, 0.25),
    2px 5px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.card-text{
    margin-left: 25px;
    width: 100%;
}

.card-icon-container{
    position: relative;
    width: 75px;
    height: 75px;
    box-shadow: 
    -2px 0px 4px 0 rgba(0, 0, 0, 0.25),
    2px 5px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 50%;
}

.card-icon{
    position: absolute;
    width: 60%;
    height: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Consultation Component */
.contact{
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
}

.contact-left{
    width: 50%;
}

.contact-right{
    padding-left: 20%;
}

.contact-text{
    width: 100%;
    padding-bottom: 50px;
}

form .form-row{
    display: flex;
    margin: 0;
}

form .form-row .input-data{
    width: 100%;
    height: 50px;
    margin: 25px 15px 0 0;
    position: relative;
}

form .form-row .textarea{
    height: 50px;
    margin-bottom: 25px;
}

.input-data input,
.textarea textarea{
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    font-size: 0.87rem;
    border-bottom: 2px solid var(--text-color);
    background-color: var(--bg-color);
}

.input-data label{
    position: absolute;
    pointer-events: none;
    bottom: 10px;
    font-size: 1rem;
    transition: all 0.3s ease;
}

.input-data input:focus ~ label,
.input-data input:valid ~ label,
.textarea textarea:focus ~ label,
.textarea textarea:valid ~ label{
    transform: translateY(-25px);
    font-size: 0.875rem;
    color: var(--sapphire);
}

.textarea textarea{
    resize: none;
    padding-top: 20px;
}

.input-data .underline{
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: #F8F8FF;
}

.input-data .underline:before{
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    background: #0F52BA;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before,
.textarea textarea:focus ~ .underline:before,
.textarea textarea:valid ~ .underline:before{
    transform: scale(1);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #0E0E0E inset;
    box-shadow: 0 0 0 30px #0E0E0E inset;
}

input:-webkit-autofill{
    -webkit-text-fill-color: #F8F8FF !important;
}

.submit-btn .input-data{
    overflow: hidden;
    height: 45px;
    width: 25%;
    border-bottom: none;
    /* border: 2px solid var(--text-color) !important */
}

.lg-img{
    width: 450px;
    height: 450px;
}

.sm-img{
    width: 250px;
    height: 250px;
    margin-top: -175px;
    margin-left: -110px;
    background: none;
    border: 5px solid #0E0E0E;
    border-radius: 50%;
}

/* Media Queries */

/* Header Component */
@media screen and (max-width: 900px) {
    .nav__toggler {
        display: block;
        cursor: pointer;
        z-index: 10;
        background: none;
    }

    .nav__menu {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 100vw;
        background: var(--sapphire);
        flex-direction: column;
        transform: translateX(100%);
        transition: 0.5s ease-in;
        z-index: 9;
        padding: 0;
    }

    .nav__menu li:first-child{
        margin-top: 125px;
    }

    .nav__menu li{
        padding: 25px 0;
    }
    
    /* Active Class */
    .nav__active {
        transform: translateX(0%);
    }
    
    /* Toggle Icon Animation */
    
    .toggle .line1 {
    transform: rotate(-45deg) translate(-4px, 5px);
    }
    .toggle .line2 {
    opacity: 0;
    }
    .toggle .line3 {
    transform: rotate(45deg) translate(-8px, -10px);
    }
}

/* Footer Component */
@media(max-width: 1024px){
    .middle-footer.right-column,
    .middle-footer.service-column,
    .bottom-footer{
        white-space: nowrap;
    }

    .top-footer{
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .top-footer .right-column{
        margin-bottom: 25px;
    }
}

@media(max-width: 768px){
    .middle-footer .left-column{
        display: none;
    }

    .bottom-footer .legal{
        display: none;
    }
}

/* Home Component */
@media(max-width: 1200px){
    .home-tabs-nav{
        width: 100%;
    }

    .tab-left{
        width: 100%;
    }
}

@media(max-width:1024px){
    .the-brand-blurb{
        flex-direction: column;
    }

    .the-brand-left,
    .the-brand-right{
        width: 100%;
        margin: auto;
    }

    .the-brand-left{
        margin-bottom: 25px;
    }

    .the-brand-right-text{
        float: none;
    }

    .the-brand-right p{
        margin-bottom: 25px;
    }

    .what-we-do{
        flex-direction: column;
    }

    .what-we-do-left,
    .what-we-do-right{
        width: 100%;
    }

    .what-we-do-left{
        margin-bottom: 25px;
    }

    .what-we-do-right-text{
        float: none;
    }

    .what-we-do-right p{
        margin-bottom: 25px;
    }
}

@media(max-width: 1000px){
    .industry-grid{
        width: 100%;
    }

    .industry-grid .grid-left,
    .industry-grid .grid-right{
        flex-direction: column;
    }

    .industry-card{
        margin: 0;
    }
}

@media(max-width: 768px){
    .hero-section{
        flex-direction: column-reverse;
        height: 100%;
        margin-bottom: 50px;
    }

    .hero-left,
    .hero-right{
        width: 100%;
    }

    .scroll-indicator{
        padding-top: 100px;
    }

    .image2{
        display: none;
    }

    .image1{
        width: 100%;
    }

    .random-blurb{
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .industry-grid,
    .industry-card{
        width: 100%;
    }

    .home-tabs-nav{
        flex-direction: column;
        align-items: flex-start;
    }

    .tab-content{
        flex-direction: column;
    }

    .tab-left,
    .tab-right{
        width: 100%;
    }

    .tab-left{
        margin-bottom: 25px;
    }

    .tab-right{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card{
        width: 100%;
    }

    .the-brand-left-text,
    .the-brand-right-text,
    .what-we-do-left-text,
    .what-we-do-right-text{
        width: 100%;
    }
}

@media(hover : hover){
    .card-overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(14, 14, 14, 0.6);
        opacity: 0;
        transition: opacity 0.25s ease-in-out;
        overflow: hidden;
    }
    
    .card-overlay p{
        background: none;
        padding: 5px 25px;
        overflow: hidden;
    }
    
    .card-overlay .industry-description{
        width: 80%;
        overflow: hidden;
    }
    
    .blur{
        backdrop-filter: blur(3px);
        overflow: hidden;
    }
    
    .card-overlay > * {
        transform: translateY(20px);
        transition: transform 0.25s;
        overflow: hidden;
    }
    
    .card-overlay:hover {
        opacity: 1;
        overflow: hidden;
    }
    
    .card-overlay:hover{
        transform: translateY(0);
        overflow: hidden;
    }
    
    .card-overlay p:hover{
        opacity: 1;
        overflow: hidden;
    }
}

/* Consultation Component */
@media(max-width: 1200px) and (min-width: 1000px){
    .form-row{
        flex-direction: column;
        margin: 0 !important;
    }

    .form-row .input-data{
        margin-bottom: 15px !important;
    }
}
@media(max-width: 1000px) and (min-width: 0px){
    .contact-right{
        display: none;
    }
    .contact-left{
        width: 100%;
    }

    .form-row{
        flex-direction: column;
    }

}